<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">

            <h2>Front end Technologies</h2>

            <ul>
                <li> <a routerLink="angular-tech"> Angular</a></li>
                <li> <a routerLink="react"> React</a></li>
                <li> <a routerLink="vue"> Vue</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>