/* You can add global styles to this file, and also import other style files */
.btn-primary,
.btn-outline-primary {
  background-color: #481a54;
  color: white;
  border-color: #481a54;
}
body {
  background-color: #e7dcdc;
}
